.paddingGlobal {
  padding-left: 10vw;
  padding-right: 10vw;
}
  
.largeContainer {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100%;
  max-width: 100%;
}
  
.paddingSection-M {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.paddingSection-L {
  padding-top: 10vw;
  padding-bottom: 10vw;
}
  
.paddingSection-M-Bottom {
  padding-bottom: 5vw;
}

.paddingSection-S-Bottom {
  padding-bottom: 2.5vw;
}
  
.paddingXS {
  padding: 0.4vw;
}

.paddingS {
  padding: 1vw;
}
  
.marginLeft-S {
  margin-left: 2vw;;
}

.bottomMarginL{
  margin-bottom: 4vw;
}

.bottomMarginXS {
  margin-bottom: 2vw;
}

/* Text Styling */
.textSizeXS {
  font-size: 1vw;
}

.textSizeS {
  font-size: 1.5vw;
}
  
.textSizeM {
  font-size: 2.5vw;
  margin: 0;
  margin-bottom: 0;
}

.textSizeL {
  font-size: 5vw;
  margin: 0;
  line-height: 1;
  font-weight: 150;
}

.textSizeXS, .textSizeS, .textSizeM {
  font-weight: 100;
}
  
.textStyleCaption {
  letter-spacing: 1.5vw;
  text-transform: uppercase;
  font-weight: 500;
}
  
.textStyleMuted {
  opacity: 0.6;
}

.textAlign-Left {
  text-align: left;
}

.textAlign-Right {
  text-align: right;
}

/* Other styling */
.backgroundColor-Secondary{
  background-color: var(--bg-200);
}

.textColor-Secondary{
  color: var(--text-200);
}

.inlineBlockElem {
  max-width: 100%;
  display: inline-block;
  }
  