:root {
    /* Color Variables */
    --primary-100: #823A55;
    --primary-200: #A1ACBD;
    --text-100: #000000;
    --text-200: #ffffff;
    --bg-100: #FBFBFB;
    --bg-200: #3D4756;

    /* Font Variables */
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}