.missionSection {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.missionContent {
    grid-column-gap: 3vw;
    grid-row-gap: 1.25vw;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.75fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.missionContent-Left {
    width: 100%;
}

.missionContent-Right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}