* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  line-height: 2vw;
  text-align: center;
  color: var(--text-100);
  background-color: var(--bg-100);
  font-family: var(--font-primary),var(--font-secondary);
}

.App-main img {
  max-width: 100%;
}

.App-main *{
  box-sizing: border-box;
}